
.body {
    margin: 0;
    font-family: monospace;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 0.5rem 0 #00000080;
  }
  
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: -1;
    width: 100vh;
    height: 100vh;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #006341;
  }
  
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 1024px;
    margin: auto;
  }
  
  .img {
    display: block;
  }
  
  .img--logo {
    width: 48px;
    height: 48px;
  }
  
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .link {
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
  }
  
  .link:hover {
    background-color: #006341;
    color: white;
  }
  
  .button {
    padding: 0.25em 1em;
    background-color: #006341;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
  }
  
  .card__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  
  .card__title {
    margin: 0;
    font-size: 2rem;
  }
  
  .card__text {
    margin: 0;
    display: none;
  }
  
  @media (min-width: 768px) {
    .card__text {
      display: block;
    }
  }
  
  .flexbox {
    display: flex;
  }
  
  .flexbox--header {
    align-items: center;
    justify-content: space-between;
  }
  
  .g-layout {
    display: grid;
  }
  
  .g-layout--center {
    align-items: center;
    justify-items: center;
  }
  
  @media (min-width: 768px) {
    .g-layout--1-1 {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .gap-2xs {
    gap: 0.5rem;
  }
  
  .color-primary {
    color: #006341;
  }

  .animate__bounce{
    animation-iteration-count :infinite;
  }
  